.navbar {
  height: 125px;
  background: linear-gradient(red, transparent);
  display: flex;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  position: sticky;
}

.logo {
  cursor: none;
  width: 175px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home_link {
  width: 250px;
  height: 52px;
  margin-top: 11px;
  display: flex;
}
.profile_link {
  width: 250px;
  height: 52px;
  margin-top: 11px;
  display: flex;
  justify-content: flex-end;
}

.home,
.profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  max-width: 52px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 271ms ease-in-out;
  background: red;
}

.home {
  margin-left: 14px;
  padding-right: 17px;
  justify-content: flex-start;
}
.profile {
  margin-right: 14px;
  padding-left: 17px;
  justify-content: flex-end;
}

.icons {
  font-size: 50px;
  color: white;
  padding: 11px;
}

.home:hover,
.profile:hover {
  max-width: 175px;
  border-radius: 50px;
}

@media only screen and (max-width: 750px) {
  .logo {
    width: 135px;
  }
  .icons {
    font-size: 37px;
    padding: 7px;
  }
  .home_link,
  .profile_link {
    width: 57px;
    height: 43px;
    margin-top: 17px;
    justify-content: center;
  }
  .home {
    padding-left: 2px;
  }
  .profile {
    padding-right: 2px;
  }
  .home > p,
  .profile > p {
    display: none;
  }
}
