.navbar {
  height: 125px;
  background: linear-gradient(red, transparent);
  display: flex;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  position: sticky;
}

.logo {
  cursor: none;
  width: 175px;
}

.home_link {
  width: 250px;
  height: 52px;
  margin-top: 11px;
  display: flex;
}
.profile_link {
  width: 250px;
  height: 52px;
  margin-top: 11px;
  display: flex;
  justify-content: flex-end;
}

.home,
.profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  max-width: 52px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 271ms ease-in-out;
  background: red;
}

.home {
  margin-left: 14px;
  padding-right: 17px;
  justify-content: flex-start;
}
.profile {
  margin-right: 14px;
  padding-left: 17px;
  justify-content: flex-end;
}

.icons {
  font-size: 50px;
  color: white;
  padding: 11px;
}

.home:hover,
.profile:hover {
  max-width: 175px;
  border-radius: 50px;
}
